:host {
  display: block;
  background-color: #fbf7fd;
}

.placeholder-box {
  background-color: #fff;
  border: 1px solid #eadcf4;
  border-radius: 0.85rem;
  padding: 1.5rem;

  h1 {
    color: #2f173d;
  }
}
